kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

resources:
  # SEALED SECRETS
  - sealedsecret_argocd-secret-patch.yaml
  - sealedsecret_argocd-secret.yaml
  - sealedsecret_repo-creds-argocd-infra.yaml
  - sealedsecret_repo-creds-konfi-infra.yaml
  - sealedsecret_pushover-token.yaml
  - sealedsecret_repo-creds-n8n-infra.yaml

  - github.com/argoproj/argo-cd//manifests/namespace-install?ref=v3.1.1
#  - github.com/argoproj/argo-cd//manifests/crds?ref=v3.1.1
  #  - ./base/argocd-ssh-known-hosts-cm.yaml

  - base/argo-cd-ui-ingress.yaml


# PROJECTS
  - projects/project_argocd.yaml
  - projects/project_konfi.yaml
  - projects/project_n8n.yaml

# APPLICATIONS
  - applications/application_argocd.yaml
  - applications/applicationset_konfi.yaml
  - applications/application_n8n.yaml


patches:
  - path: base/argo-cd-cm.yaml
    target:
      name: argocd-cm
      labelSelector:
        app.kubernetes.io/name=argocd-cm
      kind: ConfigMap
  - path: base/argocd-rbac-cm.yaml
    target:
      name: argocd-rbac-cm
      labelSelector:
        app.kubernetes.io/name=argocd-rbac-cm
  - path: base/argocd-notifications-cm.yaml
    target:
      name: argocd-notifications-cm
      labelSelector:
        app.kubernetes.io/argocd-notifications-cm
      kind: ConfigMap
  - target:
      kind: Secret
      name: argocd-secret
      labelSelector:
        app.kubernetes.io/name=argocd-secret
    patch: |-
      - op: replace
        path: /metadata/name
        value: initial-argocd-secret
      
      #replacements:
#  - source:
#      name: argocd-secret-patch
#      kind: Secret
#      version: v1
#      namespace: argocd
#      fieldPath: data
#
#    targets:
#      - select:
#          name: argocd-secret
#          kind: Secret
#          version: v1
#          namespace: argocd

        

